<footer class="footer">
    <div class="footer__first">
      <div class="footer__column">
        <span class="column_title">наши направления</span>
        <a href="#">Оценка имущества</a>
        <a href="#">Реализация имущества</a>
        <a href="#">Маркетинговые исследования</a>
        <a href="#">Бизнес-планы</a>
        <a href="#">Предпроектная документация</a>
        <a href="#">Проектно-сметная документация</a>
        <a href="#">Анализ рынка недвижимости</a>
      </div>
      <div class="footer__column">
        <span class="column_title">портфолио</span>
        <a href="#">Оценка имущества</a>
        <a href="#">Реализация имущества</a>
        <a href="#">Маркетинговые исследования</a>
        <a href="#">Бизнес-планы</a>
        <a href="#">Предпроектная документация</a>
        <a href="#">Проектно-сметная документация</a>
        <a href="#">Анализ рынка недвижимости</a>
      </div>
      <div class="footer__column">
        <span class="column_title"></span>
        <a href="#">Оценка имущества</a>
        <a href="#">Реализация имущества</a>
        <a href="#">Маркетинговые исследования</a>
        <a href="#">Бизнес-планы</a>
      </div>
      <div class="footer__column">
        <span class="column_title">оставить заявку</span>
        <form action="#">
          <input type="text" placeholder="ИМЯ">
          <input type="text" placeholder="ТЕЛЕФОН">
          <input type="text" placeholder="EMAIL">
          <button type="submit">отправить</button>
        </form>
      </div>
    </div>
    <div class="footer__second">
      <div class="footer__column">
        <a href="#">+375 (29) 317 95 42</a>
        <a href="#">+375 (29) 317 95 42</a>
      </div>
      <div class="footer__column">
        <a href="#">+375 (29) 317 95 42</a>
        <a href="#">info@ipmtorgi.by</a>
      </div>
      <div class="footer__column">
        <span>Минск, ул. Мележа 5,</span>
        <span>к. 2, Пом. 1703 оф. 3</span>
      </div>
    </div>
</footer>


<script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="./js/slick.min.js"></script>
<script type="text/javascript" src="./js/jquery.spincrement.min.js"></script>
<script type="text/javascript" src="./js/jquery.mCustomScrollbar.js"></script>
<script src="./js/scripts.js"></script>