<header class="header">
  <div class="logo_block">
    <a href="#" class="logo">
      <img src="./img/logo.png" alt="">
    </a>
    <div class="header__tagline">
      <span class="first">ИНВЕСТИЦИИ</span>
      <span class="second">проектирование</span>
      <span class="third">МЕНЕДЖМЕНТ</span>
    </div>
  </div>
  <div class="main_menu">
    <div class="main_menu__element">
      <a href="#" class="parent">Услуги</a>
      <div class="dropdown_menu">
        <div class="d-flex-column">
          <div class="parent link_element">
            <a href="#">Оценка имущества</a>
            <div class="dropdown_menu">
              <div class="d-flex-column">
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
              </div>
            </div>
          </div>
          <div class="parent link_element">
            <a href="#" >Реализация имущества</a>
            <div class="dropdown_menu">
              <div class="d-flex-column">
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
              </div>
            </div>
          </div>
          <div class="parent link_element">
            <a href="#" >Организация аукционов</a>
            <div class="dropdown_menu">
              <div class="d-flex-column">
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
              </div>
            </div>
          </div>
          <div class="parent link_element">
            <a href="#" >Реализация имущества</a>
            <div class="dropdown_menu">
              <div class="d-flex-column">
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
                <a href="#" class="link_element">Реализация имущества</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main_menu__element">
      <a href="#" class="parent">О компании</a>
      <div class="dropdown_menu">
        <div class="d-flex-column">
          <div class="link_element">
            <a href="#">Оценка имущества</a>
          </div>
          <div class="link_element">
            <a href="#">Оценка имущества</a>
          </div>
          <div class="link_element">
            <a href="#">Оценка имущества</a>
          </div>
        </div>
      </div>
    </div>
    <div class="main_menu__element">
      <a href="#" class="parent">Клиентам</a>
      <div class="dropdown_menu">
        <div class="d-flex-column">
          <div class="link_element">
            <a href="#">Оценка имущества</a>
          </div>
          <div class="link_element">
            <a href="#">Оценка имущества</a>
          </div>
          <div class="link_element">
            <a href="#">Оценка имущества</a>
          </div>
          <div class="link_element">
            <a href="#">Оценка имущества</a>
          </div>
          <div class="link_element">
            <a href="#">Оценка имущества</a>
          </div>
          <div class="link_element">
            <a href="#">Оценка имущества</a>
          </div>
          <div class="link_element">
            <a href="#">Оценка имущества</a>
          </div>
        </div>
      </div>
    </div>
    <div class="main_menu__element">
      <a href="#">Контакты</a>
    </div>
  </div>
  <div class="header__phone">
    <a href="tel:+375173732123"><img src="./img/icons/telephone.svg"><span class="code">+375 </span> (17) 373-21-23</a>
  </div>
  <div class="header__hamburger">
    <input type="checkbox" id="checkbox1" class="checkbox1 visuallyHidden">
    <label for="checkbox1">
        <div class="hamburger hamburger1">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
            <span class="bar bar4"></span>
        </div>
    </label>
  </div>
  
</header>
