<div class="left_sidebar">
  <div class="logo_block">
    <a href="#" class="logo">
      <img src="assets/img/logo.png" alt="">
    </a>
  </div>
  <div class="side_menu">
    <div class="side_menu__element">
      <a href="#" class="side_menu__main_link">Оценка имущества</a>
      <div class="dropdown_menu">
        <div class="d-flex-column">
          <a href="#">Оценка имущества</a>
          <a href="#">Реализация имущества</a>
          <a href="#">Организация аукционов</a>
          <a href="#">Реализация имущества</a>
        </div>
      </div>
    </div>
    <div class="side_menu__element">
      <a href="#" class="side_menu__main_link">Организация аукционов</a>
    </div>
    <div class="side_menu__element">
      <a href="#" class="side_menu__main_link">Инвестиционные консалдинг</a>
    </div>
    <div class="side_menu__element">
      <a href="#" class="side_menu__main_link">Управление недвижимостью</a>
    </div>
    <div class="side_menu__element">
      <a href="#" class="side_menu__main_link">Проектирование</a>
    </div>
  </div>
</div>