<div class="main_page_slider">
  <div class="main_page_slider__wrapper">
    <div class="slider_element">
      <div class="service_box">
        <span class="title">Оценка бизнеса, компании, предприятия</span>
        <div class="description">
          Оценка бизнеса — это определение стоимости компании (в том числе — экспертная оценка текущей рыночной стоимости акций (ценных бумаг) предприятия, компании). В данном случае оценивается не только имущество компании, но и эффективность ее работы, доходы (как прошлые, так и прогнозируемые), возможности развития и многие другие факторы.
        </div>
        <a href="#" class="link">
          Полностью 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.37 16.6" class="arrow">
            <line class="cls-1" x1="29.14" y1="8.52" x2="2.68" y2="8.52"/>
            <polyline class="cls-1" points="21.1 3.12 29.47 8.64 20.68 14"/>
          </svg>
        </a>
        <div class="call_back_btn"><span>Обратная связь</span></div>
      </div>
      <div class="img_box">
        <img src="./img/slide.png">
      </div>
    </div>
    <div class="slider_element">
      <div class="service_box">
        <span class="title">Оценка бизнеса, компании, предприятия</span>
        <div class="description">
          Оценка бизнеса — это определение стоимости компании (в том числе — экспертная оценка текущей рыночной стоимости акций (ценных бумаг) предприятия, компании). В данном случае оценивается не только имущество компании, но и эффективность ее работы, доходы (как прошлые, так и прогнозируемые), возможности развития и многие другие факторы.
        </div>
        <a href="#" class="link">
          Полностью 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.37 16.6" class="arrow">
            <line class="cls-1" x1="29.14" y1="8.52" x2="2.68" y2="8.52"/>
            <polyline class="cls-1" points="21.1 3.12 29.47 8.64 20.68 14"/>
          </svg>
        </a>
        <div class="call_back_btn"><span>Обратная связь</span></div>
      </div>
      <div class="img_box">
        <img src="./img/slide.png">
      </div>
    </div>
    <div class="slider_element">
      <div class="service_box">
        <span class="title">Оценка бизнеса, компании, предприятия</span>
        <div class="description">
          Оценка бизнеса — это определение стоимости компании (в том числе — экспертная оценка текущей рыночной стоимости акций (ценных бумаг) предприятия, компании). В данном случае оценивается не только имущество компании, но и эффективность ее работы, доходы (как прошлые, так и прогнозируемые), возможности развития и многие другие факторы.
        </div>
        <a href="#" class="link">
          Полностью 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.37 16.6" class="arrow">
            <line class="cls-1" x1="29.14" y1="8.52" x2="2.68" y2="8.52"/>
            <polyline class="cls-1" points="21.1 3.12 29.47 8.64 20.68 14"/>
          </svg>
        </a>
        <div class="call_back_btn"><span>Обратная связь</span></div>
      </div>
      <div class="img_box">
        <img src="./img/slide.png">
      </div>
    </div>
    <div class="slider_element">
      <div class="service_box">
        <span class="title">Оценка бизнеса, компании, предприятия</span>
        <div class="description">
          Оценка бизнеса — это определение стоимости компании (в том числе — экспертная оценка текущей рыночной стоимости акций (ценных бумаг) предприятия, компании). В данном случае оценивается не только имущество компании, но и эффективность ее работы, доходы (как прошлые, так и прогнозируемые), возможности развития и многие другие факторы.
        </div>
        <a href="#" class="link">
          Полностью 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.37 16.6" class="arrow">
            <line class="cls-1" x1="29.14" y1="8.52" x2="2.68" y2="8.52"/>
            <polyline class="cls-1" points="21.1 3.12 29.47 8.64 20.68 14"/>
          </svg>
        </a>
        <div class="call_back_btn"><span>Обратная связь</span></div>
      </div>
      <div class="img_box">
        <img src="./img/slide.png">
      </div>
    </div>
    <div class="slider_element">
      <div class="service_box">
        <span class="title">Оценка бизнеса, компании, предприятия</span>
        <div class="description">
          Оценка бизнеса — это определение стоимости компании (в том числе — экспертная оценка текущей рыночной стоимости акций (ценных бумаг) предприятия, компании). В данном случае оценивается не только имущество компании, но и эффективность ее работы, доходы (как прошлые, так и прогнозируемые), возможности развития и многие другие факторы.
        </div>
        <a href="#" class="link">
          Полностью 
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.37 16.6" class="arrow">
            <line class="cls-1" x1="29.14" y1="8.52" x2="2.68" y2="8.52"/>
            <polyline class="cls-1" points="21.1 3.12 29.47 8.64 20.68 14"/>
          </svg>
        </a>
        <div class="call_back_btn"> <span>Обратная связь</span> </div>
      </div>
      <div class="img_box">
        <img src="./img/slide.png">
      </div>
    </div>
  </div>
  <div class="main_page_slider__dots_box">
    <div class="dot"><span>Оценка имущеста</span> </div>  
    <div class="dot"><span>Реализация имущества</span></div>  
    <div class="dot"><span>Бизнес-планирование</span></div>  
    <div class="dot"><span>Оценка бизнеса</span></div>  
    <div class="dot"><span>Проектирование</span></div>  
  </div>
</div>
